* {
/*-fx-default-background-color: linear-gradient(#d6f5f5 0%, #70dbdb 100%);*/
  -fx-default-background-color: linear-gradient(#ebfafa 0%, #adebeb 100%);
}

.hbox-group {
	-fx-background-radius:5;
	/*-fx-background-color:linear-gradient(#d6f5f5 0%, #70dbdb 100%);*/
	-fx-background-color: white;
	-fx-border-color: black;
	-fx-effect: innershadow(one-pass-box, rgba(10, 10, 10, 0.5), 1.6, 5, 0, 0);
	
	}
	